<?xml version="1.0" encoding="utf-8"?><!--
  ~ This file is part of MYCallsign
  ~
  ~ Copyright (c) 2016 Mohammad Hafiz bin Ismail <mypapit@gmail.com>
  ~ MYCallsign is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as
  ~ published by the Free Software Foundation, either version 3
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
  ~
  ~ Last Modified 4/4/16 12:05 AM
  ~  Info url :
  ~  http://code.google.com/p/mycallsign-android/
  ~  http://blog.mypapit.net
  ~  http://kirostudio.com
  ~  http://mypapit.net
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mypapit.mobile.callsignview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permisssion.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permisssion.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MYCallsignTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name=".CallsignDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".FavoriteActivity" />
        <activity
            android:name=".FavoriteActivity"
            android:label="@string/title_activity_favorite" />
        <activity
            android:name=".StatsActivity"
            android:label="@string/title_activity_stats"
            android:theme="@style/Theme.MYCallsignThemeNoActionBar"
            />
        <activity
            android:name=".ExpiredCallsignListActivity"
            android:label="@string/title_activity_expired_callsign_list"></activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>